

.nav{

    margin: auto; 
    border: auto;
    padding: 9px;
    display:absolute;
    background-color: rgb(196, 196, 196);
    


} 
ul{ margin: 6px;
    border: 10px;
    padding: 2px;
    display: flex;
    opacity: calc(65%);
    text-align: center;
    justify-content: space-between;
    

    
}
a{ 
    width: 25%;
    height: 20%;
    font-style:italic;
    font-size: medium;
    color: rgb(0, 0, 0);
    text-decoration:double;


}
.container{
    border-radius:9px;
    border-bottom: black solid;
    margin-top:2.5px;
    padding:1px;
    background-color:darkgrey;
}   
.search{
    float:right;
    padding: 2px;
    border-bottom:35px; 

}

.head{
    text-align:center;
   

}  

/*Animation*/
.Pop-Animation{
    font-size: 24px;
    animation:Pop-Animation 0.5s ease-out;

}
@keyframes Pop-Animation{
    0%{
        transform: scale(0.8); opacity: 0;
    }
    50%{
        transform: scale(0.5);
    }

    
    100%{
        transform: scale(1);opacity: 1;
    }
    /*Footer*/
}
.footer{
    margin: 40px;
    padding: 20px 0;
    text-align: center;
    font-size:14px;
    color: #666;
    border: top 1px solid black;

}
    
.Animation-2{
    text-size-adjust: 0.5px;
    animation:Animation-2 0.5s ease-out;
}

@keyframes Animation-2{

    0%{
        transform:scale(0.8); opacity:0;
    }
    50%{
        transform:scale(1);opacity:0.5;
    }
    100%{transform: scale(1);opacity: 1;

    }
}
.pop-out{
    text-size-adjust:2px;
    animation:pop-out 2s;
}

.pop-out{
    animation:2s;

}

.body{
    font-style: italic;
    font-size: medium;

}   
.body h2{
    align-items: center;
}
.body h3{
    position:relative;
    left: 50px;
}   

.footer img{    
    border-radius: 12px;  
}